@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

* {
  box-sizing: border-box;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 50px;
}

.big-button {
  font-size: 20px;
  line-height: 36px;
}

.button-brown {
  background-color:#756157;
  text-decoration: none;

}

.button-green {
  background-color: #7DB54F;
}

.button-light{
  background-color: transparent;
}

.page-header {
  font-weight: 700;
  padding: 0 70px;
}

.navigation{
  display: flex;
  margin: 0 auto;
  width: auto;
  justify-content: space-between;
}

.navigation-list{
  margin-left:168px;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 0;
  width: 464px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  margin: 0;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.navigation-logo{
  display: block;
  position: absolute;
  left: 0 px;
  top: 0 px;
}

.navigation-user{
  justify-content: flex-end;
  width: 308px;
  margin: 0;
  padding:0;
}

.navigation-user .navigation-link{
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-item.button-link{
padding-top: 14px;
padding-bottom: 14px;
margin: 0;
}

.main-container{
flex-grow: 1;
}

.hero-image{
  display: block;
}

.hero {
  padding: 51px 371px 82px;
  text-align: center;
  background-color: #82B3D3;
  background-image: url("../images/background/devider.svg"), url("../images/background/hero-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.advantages {
  margin: 0;
  padding: 0;
  background-color:#83B3D31F;
  text-align: center;
}

.advantages-list{
  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  height: 385px;
  padding: 80px 85px;
  margin: 0 auto;
}

.advantages-item.light{
  background-color: #FFFFFF;
}

.advantages-title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 62px;
  width: 175px;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: 0;
  padding: 0;
}

.picture-addition {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item.picture-addition{
  display: flex;
  width: 1200px;
  height: 385px;
  justify-content: flex-start;
  padding: 0;
}

.advantages-item-picture-discription{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  height: 385px;
  margin: 0;
  padding: 80px 85px;
}

.advantages-picture{
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
}

.promo {
  width: 1200px;
  background-color: #FFFFFF;
}

.promo.first{
  padding: 69px 0;
}

.promo.first .advantages-promo{
  margin-bottom: 25px;
}

.promo.second{
  padding: 64px 0;
}

.promo.search{
  padding: 96px 304px;
}

.promo.search .advantages-promo-description{
  margin-bottom: 54px;
}

.accent {
  background-color: #83B3D333;
}

.advantages-promo {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-promo-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.search {
  text-align: center;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 96px 258px 104px;
  margin: 0;
}

.subscription-special {
  color: #FFFFFF;
  background-color:#81acc8;
  background-image: url("../images/background/Subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription .advantages-promo-description{
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscription-form{
display: flex;
justify-content: flex-start;
align-items: center;
box-sizing: border-box;
}

.subscription-input{
  padding: 14px 200px 14px 20px;
  margin: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
}

.page-footer{
  padding: 40px 70px 30px;
}

.page-footer-container{
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.footer-social{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 190px;
}

.footer-social-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.footer-social-item{
  width: 48px;
  height: 40px;
  padding: 0 10px;
}

.footer-contacts{
  margin: 0;
  padding: 0;
  width: 720px;
  height: 50px;
  text-align: center;
}

.footer-contacts-address-phone {
  padding: 5px 194px 5px 195px;
  display: block;
  color: #000000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.footer-logo-html{
  width: 115px;
}

.inner-header-title{
  padding: 0;
  margin: 0;
}

.inner-filter {
  padding: 35px 70px 70px;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/background/filter-background.jpg");
  background-size: 125% auto;
  background-repeat: no-repeat;
}

.inner-header {
  text-align: left;
}

.inner-header-title{
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcrumbs{
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item{
  margin-right: 10px;
}

.breadcrumbs-item-arrow{
  width: 8px;
  padding: 5px 0 5px 0;
  margin-right: 10px;
}

.breadcrumbs :last-child{
  margin-right:0;
}

.breadcrumbs-link {
  color: inherit;
}

.breadcrumbs-link-homepage{
  text-decoration: none;
  color: #FFFFFF;
}

.catalog-filter{
  display: flex;
  justify-content: space-around;
}

.catalog-filter-group{
  width: auto;
  font-weight: 700;
}

.catalog-filter-list{
  padding: 0;
  list-style-type: none;
}

.catalog-filter-list{
  padding: 0;
  list-style-type: none;
}

.catalog-filter-price{
  width: 288px;
  font-weight: 700;
}

.catalog-filter-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 191px;
}

.catalog-filter-buttons :first-child{
  margin-bottom: 32px;
}

.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item{
  font-size: 18px;
  line-height: 23px;
}

.price{
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.filtered-catalog{
  margin: 50px 70px 60px;
}

.filtered-catalog-sort{
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  width: 1060px;
  height: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.filtered-number {
  text-align: left;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
  height: 36px;
  padding: 0;
  margin: 0;
}

.select-control{
  background-color: #FFFFFF;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  padding: 0;
  margin: 0;
}

.view-buttons{
  padding: 0;
  margin: 0;
  width: 160px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.view-buttons-item{
  width: 48px;
  height: 48px;
  padding: 14px 12px;
}

.housing-list{
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
}

.housing-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 20px;
  width: 340px;
  height: 438px;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
}

.house-card-link {
  grid-column: 1 / -1;
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.hotel-card-image{
  display: block;
  max-width: 100%;
  height: auto;
  order: -1;
  margin-bottom: 16px;
  object-fit: contain;
}

.hotel-card-title {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.product-card-type {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  width: 120px;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  width: 140px;
  margin: 0;
}

.product-card-button.button.button-brown{
  padding: 8px 50px;
}

.product-card-button{
  width: 140px;
  padding: 8px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 37px;
  border: #FFFFFF;
}

.raiting {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-content: center;
  text-align: center;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.pagination{
  padding: 0;
  margin: 0;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination-link {
  display: block;
  min-width:60px;
  height: 60px;
  padding: 12px 12px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  color:#000000;
  background-color: #F2F2F2;
}

.pagination-rest {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background-color: #FFFFFF;
}
